body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("Public/javascript-1683038907637-3506.jpg");
  background-size: cover;
  font-family: "OCR A Std", monospace;
}

 div {
  border: 0.0001rem solid gray;
  background-color: white;
  
 }

 div .centro, .lateral, .inicio {
  margin: 0.5rem;
  border: none;
 }

.centro {
  border: 2px solid gray;
}

.lateral {
  max-width: 100px;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: row;
}

.btn {
  margin-bottom: 2px;
}

p {
  border-radius: 5px;
  background-color: white;
  
}