body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("Public/javascript-1683038907637-3506.jpg");
  background-size: cover;
  font-family: "OCR A Std", monospace;
  
}


 .container div {
  border: 0.0001em solid gray;
  background-color: white;
  
 }

 div .centro, .lateral, .inicio {
  border: none;
 }

.centro {
  border: 2px solid gray;
  display: flex;
}

.lateral {
  width: 300px;
  heiht: 100%
}

.paleta button {
  border: 1px solid white;
  display: gride;
  width: 2rem;
  height: 2rem;
  
  
}

.content {
  display: flex;
  flex-direction: row;
}

.btn, .finalizado {
  margin-bottom: 2px;
  font-size: 16px;
  
}

p {
  border-radius: 5px;
  background-color: white;
  
}